/* all app scss styles here */
.message {
  color: #FFF;
  background: #AA0000;
  margin-bottom: 5px;
  padding: 8px 20px;
  border-radius: 3px;
}

.label-list {
    margin-left: 0;
    list-style-type: none;

    li {
      display: inline-block;
      margin-right: 5px;
    }
  }
