/* all app scss styles here */
.movie { margin-bottom: 5px; }
.movie:first-child { margin-top: 5px; }

.thumb { margin-right: 5px; }

.message {
  color: #FFF;
  background: #AA0000;
  margin-bottom: 5px;
  padding: 8px 20px;
  border-radius: 3px;
}
