/* all app scss styles here */
.message {
  color: #FFF;
  background: #AA0000;
  margin-bottom: 5px;
  padding: 8px 20px;
  border-radius: 3px;
}

.label-list {
  margin-left: 0;
  list-style-type: none;

  li {
    display: inline-block;
    margin-right: 5px;
  }
}

.movie {
  margin-bottom: rem-calc(10);
  border-width: 0 0 1px;
  border-style: solid;
  border-color: scale-color($secondary-color, $lightness: 0%);
  padding: rem-calc(10);
  background: #F1F1F1;
  box-shadow: 2px 2px 3px 0 scale-color(scale-color($secondary-color, $lightness: 0%), $lightness: 10%);
}
