$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    padding-top: 80px;
}

// messagebox

.message {
  color: #FFF;
  background: #AA0000;
  margin-bottom: 5px;
  padding: 8px 20px;
  border-radius: 3px;
}

.loader {
  background: #AA0000;
  border-radius: 3px;
  color: #FFF;
  padding: 8px 20px;
  position: fixed;
  bottom: 50px;
  right: 5px;
  z-index: 999;
}

// movies
.movie {
  margin-bottom: 15px;
  background: #EEEEEE;
  padding: 8px;
  border-radius: 3px;
  // border: 1px solid aqua;
}

// tags
.movie-tags {
  margin-bottom: 10px;
}
.movie-tags i {
  margin-right: 5px;
}
.movie-tag {
  margin-right: 5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .movie-img {
    max-width: 185px;
  }
}

@media screen and (max-width: 768px) {
  .movie-img {
    max-height: 500px;
  }
}

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }
