$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

body {
    padding-top: 80px;
}

// movies
.movie {
    margin-bottom: 5px;
    // border: 1px solid aqua;
}

// tags
.movie-tags {
    margin-bottom: 10px;
}
.movie-tags i {
    margin-right: 5px;
}
.movie-tag {
    margin-right: 5px;
}

input.ng-invalid.ng-dirty {
    border-color: $brand-danger;
}

input.ng-valid.ng-dirty {
    border-color: $brand-success;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .movie-img {
        max-width: 185px;
    }
}

@media screen and (max-width: 768px) {
    .movie-img {
        max-height: 500px;
    }
}

/* Responsive: Portrait tablets and up */
// @media screen and (min-width: 768px) {
//     .container {
//         max-width: 730px;
//     }

//     /* Remove the padding we set earlier */
//     .header,
//     .marketing,
//     .footer {
//         padding-left: 0;
//         padding-right: 0;
//     }
//     /* Space out the masthead */
//     .header {
//         margin-bottom: 30px;
//     }
//     /* Remove the bottom border on the jumbotron for visual effect */
//     .jumbotron {
//         border-bottom: 0;
//     }
// }
