<div class="row">
  <div class="col-xs-12 col-sm-3 col-sm-offset-4">
    <div ng-show="authError" class="alert alert-danger"><strong>Login Failed!</strong> Please check your credentials.</div>
    <form name="authForm" role="form" ng-submit="login(authForm.$valid)" class="login-form" novalidate>
      <!-- EMAIL -->
      <div class="form-group"  ng-class="{'has-error' : authForm.email.$invalid && !authForm.email.$pristine}">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" ng-model="username" placeholder="Enter email" required autofocus>
      </div>

      <!-- PASSWORD -->
      <div class="form-group" ng-class="{'has-error' : authForm.password.$invalid && !authForm.password.$pristine}">
        <label for="password">Password</label>
        <input type="password" name="password" ng-model="password" class="form-control" placeholder="Password" required>
      </div>

      <!-- SUBMIT -->
      <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="authForm.$invalid">Sign in</button>
    </form>
  </div>
</div>
