<div class="jumbotron">
    <h1>Movie Nightmare</h1>
    <p class="lead">Get your own private library and share it with your friends, or something like that.</p>
    <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2><i class="glyphicon glyphicon-tasks"></i> Import your library</h2>
      <p>Format not supported? Simplify create your own one.</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="glyphicon glyphicon-tag"></i>Tag your movies</h2>
        <p>Tags give you the most flexibility. Create any kind of combination for filtering.</p>
    </div>
    <div class="col-lg-4">
      <h2><i class="glyphicon glyphicon-th-list"></i> Your own pages</h2>
      <p>Create your own pages. You can add any movie to your page. For example
      create an offer page for a movie night.</p>
    </div>
  </div>
</div>
