<div class="row">
  <div class="col-xs-12 col-md-push-2 col-md-8">
    <div ng-repeat="movie in movies">
      <div class="media movie">
        <img class="visible-xs center-block media-object" ng-src="http://image.tmdb.org/t/p/w185{{movie.poster_path}}">
        <img class="pull-left hidden-xs media-object" ng-src="http://image.tmdb.org/t/p/w154{{movie.poster_path}}">
        <h4>{{movie.title}} <span class="text-muted">({{movie.release_date | date:'yyyy'}})</span></h4>
        <div class="movie-tags" ng-hide="movie.labels.length === 0" class="ng-hide">
          <i class="glyphicon glyphicon-tags"></i> <span class="label label-default movie-tag" ng-repeat="label in movie.labels">{{ label.name }}</span>
        </div>
        <p>{{movie.overview | limitTo:400}}...</p>
      </div>
    </div>
  </div>
</div>
