<div class="row">
  <div class="col-xs-12 col-sm-3 col-sm-offset-4">
    <form name="registerForm" role="form" novalidate>
      <!-- EMAIL -->
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" name="email" placeholder="Enter email" required>
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" placeholder="Enter password" required><br>
        <input type="password" class="form-control" name="passwordRepeated" placeholder="Repeat password" required>
      </div>

      <button type="submit" class="btn btn-primary btn-lg btn-block">Sign up</button>
    </form>
  </div>
</div>
